<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
	<link rel="stylesheet" href="../CSS/main.css">
    <script src="https://kit.fontawesome.com/0bf38c6253.js" crossorigin="anonymous"></script>
	<title></title>
</head>
<body>
	<header>
		<!--ZONA HEADER LOGO -->
		<div class="container-fluid d-flex justify-content-center" id="container-logo">
			<div class="row">
				<div class="col-md-12">
					<p class="text-light mb-0 p-2 fs-6">Contactanos +57 300 493 7859</p>
				</div>
			</div>
		</div>

		<!--ZONA HEADER MENU -->
					<div class="container">
            <nav  class="navbar navbar-expand-lg navbar-light p-3"  id="menu">
          		<a class="navbar-brand" href="#">
              	<span class="fs-5 text-dark fw-bold">JhonasReloj</span>
          		</a>
          		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            	<span class="navbar-toggler-icon"></span>
          		</button>

          		<div class="collapse navbar-collapse" id="navbarSupportedContent">
            		<ul class="navbar-nav me-auto mb-2 mb-lg-0">
              	<li class="nav-item">
                <a class="nav-link" aria-current="page" href="index.html">Inicio</a>
              	</li>
              	<li class="nav-item">
                <a class="nav-link" href="#equipo">Contacto</a>
              	</li>
              	<li class="nav-item dropdown">
          			<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            		Tienda
          			</a>
          			<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            		<li><a class="dropdown-item" href="hombres.html">Hombre</a></li>
            		<li><a class="dropdown-item" href="#">Mujeres</a></li>
         		 		</ul>
        				</li>
            		</ul>
            		<form class="d-flex">
              	<input class="form-control me-2" type="email" placeholder="Correo Electronico" aria-label="Suscribete">
              	<button class="btn btn-dark btn-dark-outline-success" type="button">Suscribete</button>
            		</form>
          		</div>
          	</nav>
        	</div>
      

	<!--***************************-->
	<!--ZONA CONTENIDO -->
	   

        <!--========================================================== -->
                      <!-- CONTENEDOR DEL FORMULARIO -->
        <!--========================================================== -->

          <div class="container  border-top border-primary p-1" style="max-width: 500px" id="contenedor-formulario">
              <div class="text-center mb-4" id="titulo-formulario">
                <div><img src="../img/support.png" alt="" class="img-fluid ps-5"></div>
                <h2>Contactanos</h2>
                <p class="fs-5">Estamos aqui para ayudarte</p>
              </div>

             

              <form   method="POST" data-netlify="true" action="#">     
                    <div class= "mb-3">           
                      <input type="email" class="form-control" id="email" name="email" placeholder="nombre@ejemplo.com">
                    </div>
         
                  
                    <div class="mb-3">            
                      <input type="input" class="form-control" id="name" name="name" placeholder="John Doe">
                    </div>
              

                    <div class="mb-3">
                      <input type="tel" class="form-control" name="phone" id="phone" placeholder="Teléfono">
                    </div>

                  <div class="mb-3">       
                    <textarea class="form-control" name="message" id="message" rows="4"></textarea>
                  </div>

                  <div class="mb-3">
                    <button type="submit" class=" btn btn-primary w-100 fs-5">Enviar Mensaje</button>
                  </div>
              </form>
  
  </div>
</section>
	<!--FIN ZONA CONTENIDO -->
	<!--***************************-->

    <!--ZONA ARTICULOS-->

    
    <!--FIN ZONA ARTICULOS-->

    <!--========================================================== -->
                        <!--Quienes Somos-->
    <!--========================================================== -->

    <div class="container-fluid">
        <section class="d-flex flex-column justify-content-center align-items-center pt-5  text-center w-50 m-auto" id="intro">
        <h1 class="p-3 fs-2 border-top border-3">QUIÉNES SOMOS</h1>
          <p class="p-3  fs-15 text-center" id="p-quienes-somos">

                Nuestro nombre es JhonasReloj y somos una tienda online que marca tendencias, ofreciendo productos de primer nivel y un servicio al cliente excepcional que los compradores podrán obtener desde la comodidad de su hogar. Somos un negocio compuesto por personas innovadoras que siempre miran a futuro. Tenemos el impulso y los medios para actualizar y mejorar constantemente la experiencia de tu compra en línea.
          </p>
          <p class="p-3  fs-15 text-center">
              Nuestra tienda virtual es sinónimo de calidad, por lo que te garantizamos contar con la mayor variedad de mercancía así como de productos temporales o de edición limitada que se adaptan a cualquier presupuesto. Echa un vistazo y empieza a comprar hoy mismo.
          </p>  
        </section>
    </div>

	<!--ZONA FOOTER-->
		<div class="container-fluid">
			<div class="row text-white p-5" id="footer1">
				<div class="col-xs-12 col-md-6 col-lg-3">
                    <p class="h3">JhonasReloj</p>
                </div>
                <div class="col-xs-12 col-md-6 col-lg-3">
                    <p mg-3 h5>Tienda</p>
                    <div class="mb-2">
                        <a href="#" class="text-secondary text-decoration-none">Hombres</a>
                    </div>
                    <div class="mb-2">
                        <a href="" class="text-secondary text-decoration-none">Mujeres</a>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6 col-lg-3">
                    <p mg-3 h5>Links</p>
                    <div class="mb-2">
                        <a href="" class="text-secondary text-decoration-none">Terminos & Condiciones</a>
                    </div>
                    <div class="mb-2">
                        <a href="" class="text-secondary text-decoration-none">Privacy Policy</a>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6 col-lg-3">
                    <p mg-3 h5>Redes Sociales</p>
                    <ul class="col-3 list-unstyled">
                        <li class="d-flex justify-content-between">
                            <a href="" class="text-reset"><i class="fa-brands fa-facebook-f"></i></a>
                            <a href="" class="text-reset"><i class="fa-brands fa-twitter"></i></a>
                            <a href="" class="text-reset"><i class="fa-brands fa-instagram"></i></a>
                        </li>
                    </ul>
                </div>
			</div>
		</div>

        <!--Copyright-->
        <footer class="w-100  d-flex  align-items-center justify-content-center flex-wrap">
            <p class="fs-5 px-3  pt-3">JhonasReloj &copy; Todos Los Derechos Reservados 2022</p>
        </footer>

	<!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script> 
    <script src="https://unpkg.com/typewriter-effect@latest/dist/core.js"></script>
    <script src="../JS/main.js"></script>
</body>
</html>